.slide-fade-enter{
    opacity: 0;
 }
 .slide-fade-exit{
    opacity: 1;
 }
 .slide-fade-enter-active{
    opacity: 1;
 }
 .slide-fade-exit-active{
    opacity: 0;
 }
 .slide-fade-enter-active,
 .slide-fade-exit-active{
    transition: opacity 500ms;
 }